@media screen and (max-width: 1199px) {
    .p1 {
        font-size: large;
        margin-left: 60px;
        margin-right: 60px;
    }

    .galeria_asist img {
        width: 100%;
    }
}

@media screen and (max-width: 869px) {
    .img_logo {
        margin-top: 100px;
        height: 250px;
    }
}

.galeria_adop img {
    margin-bottom: 50px;
}