@media screen and (max-width: 869px) {
    .img_logo {
        margin-top: 100px;
        height: 250px;
    }


    .galeria_adop img {
        margin-bottom: 50px;
    }

    h2 {
        font-size: 2rem;
    }

    h2::after,
    h2::before {
        content: '';
        width: 30px;

    }

    h2::before {
        left: -30px;
    }

    h2::after {
        right: -30px;
    }
}

@media screen and (max-width: 1199px) {
    .p1 {
        font-size: large;
        margin-left: 60px;
        margin-right: 60px;
    }

    .galeria_asist img {
        width: 100%;
    }
}